// Navigation Styles here
.nav-container{
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;


    .nav-links{
        display: flex;
        justify-content: flex-end;
        width: 80%;
        align-items: center;

            a{
                margin: 2%;
                text-decoration: none;
            }//closing bracket for .nav-container .nav-links a

    }//closing bracket for .nav-links

}//closing bracket for .nav-container